{% extends "layout.html" %}
<!---->
{% block title %}{{ post.title }}{% endblock title %}
<!---->
{% block content %}
<section class="container my-5">
  {% if post.banner %}
  <div class="mb-4">
    <img
      src="{{ post.banner.url }}"
      alt="{{ post.title }}"
      class="img-fluid rounded w-100"
      style="max-height: 400px; object-fit: cover"
    />
  </div>
  {% endif %}

  <h1 class="mb-2">{{ post.title }}</h1>

  <p class="text-muted mb-4">{{ post.date }} · By {{ post.author }}</p>

  <article class="fs-5 lh-lg">{{ post.body }}</article>

  <div class="card-footer d-flex justify-content-between">
    {% if user == post.author %}
    <a href="{% url 'posts:delete' id=post.id %}" class="btn btn-danger"
      >delete</a
    >
    <a href="{% url 'posts:update' id=post.id %}" class="btn btn-warning">
      Edit Post
    </a>
    {% endif %}
  </div>
</section>
{% endblock content %}
